    <link rel="stylesheet" href="../css/navbar.css">
    <header class="header-container">
        <div class="menu_burg">
            <img src="../../img/Bars.svg" alt="" id="menuBar">
        </div>
        <div class="img_logo">
            <a href="/">
                <img src="../../img/Group-2.svg" alt="">
            </a>
        </div>

        <div class="nav-desktop">
            <nav>
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">Galeria de fotos</a></li>
                    <li><a href="#">home</a></li>
                </ul>
            </nav>
        </div>

        <div class="settings_user">
            <div class="input_user">
                <div class="text_input_user">
                    <p><?php
                        if(isset($_SESSION["Name"]) && $_SESSION["Name"] !== null) {
                            echo "Olá, " . $_SESSION["Name"] . "</br>";
                            echo "<small><a href='../../src/operation/logout.php' style='color: white; text-decoration: none;'>Clique aqui para sair</a></small>";
                        } else {
                            echo "<p><a href='src/login.php' style='color: white; text-decoration: none;'>Clique aqui </br> para logar</a></p>"; 
                        }
                    ?></p>
                </div>
                <img src="../../img/UserIcon.svg" alt="">
            </div>
        </div>
    </header>

    <section id="slideBar_mobile" class="slideBar">
        <div class="header_slidebar">
            <img src="../../img/Group-2.svg" alt="" height="100%">
        </div>
        <ul class="nav_slidebar">
            <li>Home</li>
            <li>teste</li>
            <li>teste</li>
            <li>teste</li>
            <li>teste</li>
        </ul>

    </section>
    <script src="src/js/navbar.js"></script>