<nav class="mobile_menu">
''
</nav>

<aside class="pc_menu">
    <ul>
        <a href="#">
            <li><img src="../img/icons/home.svg"> Home</li>
        </a>
        <a href="#" class="active">
           <li><img src="../img/icons/user.svg"> usuarios</li>
        </a>
        <a href="#">
            <li><img src="../img/icons/home.svg"> Home</li>
        </a>
        <a href="#">
            <li><img src="../img/icons/home.svg"> Home</li>
        </a>
        <a href="#">
            <li><img src="../img/icons/home.svg"> Home</li>
        </a>

    </ul>
</aside>



