* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    max-width: 100vw;
    min-height: 10vh;
    background: rgb(78,201,253);
    background: radial-gradient(circle, rgba(78,201,253,1) 16%, rgba(60,134,230,1) 80%);      display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 1rem;
    justify-content: space-around;
}

footer div {
    width: 700px;
    height: 300px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.location iframe {
    width: 100%;
}

@media (min-width: 900px) {
    footer div {
        width: 30% ;

    }
}