@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary_color: #4EC9FD
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.header-container {
    max-width: 100vw;
    max-height: 11vh;
    background: rgb(78,201,253);
    background: radial-gradient(circle, rgba(78,201,253,1) 16%, rgba(60,134,230,1) 80%);  
    display: flex;
    justify-content: stretch;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.menu_burg {
    width: 30%;
    height: 10vh;
    display: flex;
}

.menu_burg img {
    width: 2rem;
    
}

.img_logo {
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.img_logo img {
    width: 4rem;
}

.settings_user {
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: end;
    gap: 0.3rem;
}

.settings_user img {
    width: 1.7rem;
}

.slideBar {
    width: 75vw;
    height: 100vh;
    position: absolute;
    background: rgb(78,201,253);
    background: radial-gradient(circle, rgba(78,201,253,1) 16%, rgba(60,134,230,1) 80%);     top: 0;
    display: none;
    z-index: 20;
    flex-direction: column;
}

.slideBar::before {
    content: '';
    width: 25vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 75vw;
    z-index: 0;
}

.nav-desktop {
    display: none;
}

.input_user {
    height: 100%;
    width: auto;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text_input_user {
    margin: 0;
    color: white;
    line-height: 1;
    display: none;
}
.text_input_user p {
    margin: 0;
    text-align: end;
}
.input_user img {
    display: none;
}


.header_slidebar {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.nav_slidebar {
    color: white;
    font-size: 1.6rem;
}

.nav_slidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

.settings_user_mobile {
    width: 100%;
    height: 10vh;
    display: flex;
    gap: 0.3rem;
    padding: 0 2rem;
}

.input_user_mobile {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.input_user_mobile img {
    width: 2.3rem;
    display: block;
}
.text_input_user_mobile {
    padding-top: 0.5rem;
    margin: 0;
    color: white;
    line-height: 1;
    display: block;
}

.close_slide_bar {
    display: block;
    width: 25px;
    height: 25px;
}
.close_slide_bar img {
    width: 100%;
    height: 100%;
}

@media (min-width : 1200px) {

    .header-container {
        background: rgb(60,134,230);
background: radial-gradient(circle, rgba(60,134,230,1) 4%, rgba(78,201,253,1) 100%);
    }

    .img_logo img {
        width: 5rem;
    }

    .img_logo {
        width: 30%;
        justify-content: start;
    }

    .menu_burg {
        display: none;
        
    }

    .settings_user img {
        width: 2.5rem;
    }

    .nav-desktop {
        display: block;
        width: 40%;
    }

    .nav-desktop nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        height: 10vh;
    }
    .nav-desktop nav ul li a {
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        padding: 4vh 17px;
        cursor: pointer;
        color: white;
        text-decoration: none;
        transition: 3ms;
    }
    .nav-desktop nav ul li a:hover {
        background-color: #23bdffd5;
    }
    .text_input_user {
        display: block;
    }
    .input_user img {
        display: block;
    }

}